.card, .loading {
  margin: 0.5em;
  flex-basis: 25%;
}

.card {
  border: 1px solid black;
  padding: 0.5em 0.5em 1em;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #ccc;
  background-color: #fcfcfc;
}

.card h1 {
  color: white;
  background-color: #999;
  line-height: 2em;
  margin-top: 0px;
}

.card label {
  font-weight: bold;
}

.loading > img {
  height: 100px;
}
