.list {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: stretch;
}

.list + footer {
	margin-bottom: 1em;
}

@media (max-width: 599px) {
  .list {
    flex-direction: column;
  }
}
